* { box-sizing: border-box; user-select: none; }
body { font-family: 'Comfortaa-Bold'; margin: 0; overflow: hidden; width: 100vw; height: 100vh; }
body canvas { width: 100vw; height: 100vh; image-rendering: pixelated; }
body canvas.disabled { display: none; }
body .stats { position: absolute; top: initial !important; right: 0 !important; bottom: 0 !important; left: initial !important; }
body .ui-controller .disabled { display: none !important; }
body .ui-controller .row { display: flex; position: absolute; z-index: 1; pointer-events: none; }
body .ui-controller .row .col { pointer-events: all; }

body .ui-controller .row .col .item { position: relative; display: flex; }
body .ui-controller .row .col .item.highlight { background-color: #0287EF; }
body .ui-controller .row.top { top: 0; right: 0; left: 0; }
body .ui-controller .row.top .col { display: flex; overflow-x: auto; width: 100%; }
body .ui-controller .row.top .col.object-type {  overflow-y: auto; }
body .ui-controller .level-manager .row .col { overflow-y: auto; }
body .ui-controller .row.left { bottom: 0; top: 48px; left: 0; }
body .ui-controller .row.left .col { display: flex; flex-direction: column; }

body .ui-controller a { cursor: pointer; display: flex; flex-shrink: 0; justify-content: center; align-items: center; width: 48px; height: 48px; }
body .ui-controller a:hover img { animation: shake 0.25s; }
body .ui-controller .selected img { animation: shake 0.25s; }
body .ui-controller input { font-family: 'Comfortaa-Bold'; background-color: transparent; border: none; font-size: 16px; padding: 0 16px; width: 240px; }
body .ui-controller input:focus { border: none; outline: none; }
body .ui-controller .slider { /* default hidden */ display: none; align-items: center; position: relative; height: 48px; width: 144px; position: absolute; left: 100%; padding: 0 16px; top: 0; }
body .ui-controller .slider input[type="range"] { width: 100%; height: 100%; padding: 0; margin: 0; cursor: pointer; }
body .ui-controller .selected ~ .slider,
body .ui-controller .item:hover a ~ .slider { /* show */ display: inline-flex; }

/* Dark Themes */
body.dark { background-color: #1e1e1e; }
body.dark .ui-controller a { filter: invert(50%); }
body.dark .ui-controller a:hover { filter: invert(0%); }
body.dark .ui-controller .selected { filter: invert(0%); }
body.dark .ui-controller input { color: #808080; }
body.dark .ui-controller input:focus { color: #ffffff; }
body.dark .ui-controller .slider { background-color: #252526; }
body.dark .ui-controller .row .col { background-color: #333333; }
body.dark .ui-controller .row .col.object-options { background-color: #252526; }

/* Light Themes */
body.light { background-color: #e6e6e6; }
body.light .ui-controller a { filter: invert(25%); }
body.light .ui-controller a:hover { filter: invert(100%); }
body.light .ui-controller .selected { filter: invert(100%); }
body.light .ui-controller input { color: #bfbfbf; }
body.light .ui-controller input:focus { color: #000000; }
body.light .ui-controller .slider { background-color: #f1f1f1; }
body.light .ui-controller .row .col { background-color: #ffffff; }
body.light .ui-controller .row .col.object-options { background-color: #f1f1f1; }

/* Background Gradients */
body.background-1 { background: linear-gradient(180deg, #ffffff 0%, #ee95af 100%); }
body.background-2 { background: linear-gradient(180deg, #f6f5cc 0%, #f1558d 33%, #55cfe7 66%, #0379d3 100%); }
body.background-3 { background: linear-gradient(180deg, #047279 0%, #8AE9B0 50%, #0379D3 100%); }
body.background-4 { background: linear-gradient(180deg, #000957 0%, #00041E 100%); }
body.background-5 { background: linear-gradient(180deg, #4196DE 0%, #FFD6B0 50%, #ffffff 100%); }
body.background-6 { background: linear-gradient(180deg, #002939 0%, #5D1D2C 25%, #CB6C17 50%, #034C63 75%, #002939 100%); }
body.background-7 { background: linear-gradient(180deg, #279DCF 0%, #00EDFE 50%, #E5A29C 100%); }
body.background-8 { background: linear-gradient(180deg, #EFC626 0%, #B12A13 50%, #100730 100%); }

/* Dialog window styling */
body .dialog { color: #fff; display: flex; align-items: center; justify-content: center; position: fixed; z-index: 1; top: 0; right: 0; bottom: 0; left: 0; text-align: center; background-color: rgba(0, 0, 0, 0.5); }
body .dialog .wrapper { border-radius: 4px; background-color: #0287EF; max-width: 320px; padding: 24px; width: 100%; }
body .dialog .wrapper p { margin: 0; font-size: 16px; padding: 0 0 24px; }
body .dialog .wrapper p em { position: relative; }
body .dialog .wrapper input { border-radius: 4px; background-color: transparent; border: 2px solid #fff; color: #fff; font-family: 'Comfortaa-Bold'; font-size: 12px; margin: 0 0 24px; padding: 16px; width: 100%; }
body .dialog .wrapper .buttons { display: flex; flex-wrap: wrap; justify-content: center; }
body .dialog .wrapper .buttons a { border-radius: 4px; cursor: pointer; display: inline-block; padding: 12px 24px; }
body .dialog .wrapper .buttons a:hover { animation: shake 0.25s; }
body .dialog .wrapper .buttons a:last-of-type { background-color: #27A0FF; }

/* Animation keyframes */
@keyframes shrink { 0% { transform: scale(1); } 50% { transform: scale(0.90); } 100% { transform: scale(1); } }
@keyframes shake { 0% { transform: rotate(0); } 33% { transform: rotate(5deg); } 66% { transform: rotate(-5deg); } 100% { transform: rotate(0); } }

/* Font Family */
@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('../fonts/Comfortaa-Bold.woff2') format('woff2'),
        url('../fonts/Comfortaa-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

