.ui-bubble {

}

@media (max-width: 640px) {

}

/* Font Family */
@font-face {
  font-family: 'Comfortaa-Bold';
  src: url('/fonts/Comfortaa-Bold.woff2') format('woff2'),
    url('/fonts/Comfortaa-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}