* {
  box-sizing: border-box;
  cursor: url('/svg/cursor-arrow.svg'), pointer;
  user-select: none;
  font-size: 100%;
}

html {
  -ms-touch-action: manipulation;
  height: 100%;
  min-height: 22.5em; // 360px
  min-width: 40em; // 640px
  overflow: hidden;
  touch-action: manipulation;
  width: 100%;

  body {
    background-color: #47D2FD;
    margin: 0;
    font-family: 'LuckiestGuy-Regular';
    font-size: clamp(1em, 4vh, 2em);
    width: inherit;
    height: inherit;

    #app {
      height: inherit;
      width: inherit;
    }
  }
}

/* Font Family */
@font-face {
  font-family: 'Comfortaa-Bold';
  src: url('/woff2/Comfortaa-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'LuckiestGuy-Regular';
  src: url('/woff2/LuckiestGuy-Regular.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 100 700;
  src: url('/woff2/Material-Symbols-Rounded.woff2') format('woff2');
}